body {
    font-family: 'Nunito', sans-serif;
}


/*--Header Area Start--*/

.Heading-area {
    display: flex;
    justify-content: center;
}

.Heading-text{
    width: 50%;
    padding-left: 90px;
    margin: auto 0;
}

.Heading-title {
    font-size: 60px;
    color: #353434;
    width: 80%;
    font-weight: 900;
    margin-bottom: 30px;
}

.Heading-title span{
    background: -webkit-linear-gradient(180deg, #e44800, #eea805);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.Heading-text p {
    font-size: 20px;
    color: #7e7b7b;
    width: 70%;
    margin-top: 0;
}

.Heading-btn{
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(50deg, red, orange);
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px #ff44007c;
}
.Heading-img{
    width: 50%;
}
.Heading-img img {
    width: 90%;
}

/*--Header Area End--*/


/*--About Area Start--*/
.About-Area {  
    background-image: url(Image/shapes/Frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    display: flex;
    justify-content: center;
    height: 98vh;
}

.About-Img {
    width: 50%;
    position: relative;
}

.About-Img img {
    width: 53%;
    position: absolute;
    right: 140px;
    bottom:0;
}

.About-Text {
    width: 50%;
    margin: auto 0;
    padding-left: 150px;
}

.About-Title {
    font-size: 45px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #000000a8, #fd0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.About-Text p {
    width: 75%;
    font-size: 18px;
    color: #5214a3c4;
    text-align: justify;
}

/*--About Area End--*/






