* {
    margin: 1px;
}

body {
    font-family: 'Nunito', sans-serif;
}

/*--Menu Start--*/
menu {
     background-color: #0c0c0c;
     padding: 15px;
     display: flex;
     justify-content: space-between;
}

menu h3 {
    margin-left: 75px;
    color: #8f8a8a;
    font-size: 35px;
    font-weight: 900;
    padding: 5px;
}

menu span {
    background: -webkit-linear-gradient(180deg, #f10404, #ffd167);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

menu ul {
    display: flex;
    justify-content: flex-end;
}

menu ul li {
    list-style: none;

}

menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding:10px 30px;
    margin: 5px;
    display: block;
    transition: 0.5s;
}

#active {
    color: red;
}

menu ul li a:hover {
    background: -webkit-linear-gradient(45deg, #e40000, #eea805);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

/*--Menu End--*/


/*--Header Area Start--*/

.Heading-area {
    display: flex;
    justify-content: center;
}

.Heading-text{
    width: 50%;
    padding-left: 90px;
    margin: auto 0;
}

.Heading-title {
    font-size: 60px;
    color: #353434;
    width: 80%;
    font-weight: 900;
    margin-bottom: 30px;
}

.Heading-title span{
    background: -webkit-linear-gradient(180deg, #e44800, #eea805);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.Heading-text p {
    font-size: 20px;
    color: #7e7b7b;
    width: 70%;
    margin-top: 0;
}

.Heading-btn{
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    background: linear-gradient(50deg, red, orange);
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px #ff44007c;
    transition: .3s;
}

.Heading-btn:hover {
    color: #130505;
    background: linear-gradient(-50deg, red, orange);
}

.Heading-img{
    width: 50%;
}
.Heading-img img {
    width: 90%;
}

/*--Header Area End--*/


/*--About Area Start--*/
.About-Area {  
    background-image: url(Image/shapes/Frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    display: flex;
    justify-content: center;
    height: 98vh;
}

.About-Img {
    width: 50%;
    position: relative;
}

.About-Img img {
    width: 53%;
    position: absolute;
    right: 140px;
    bottom:0;
}

.About-Text {
    width: 50%;
    margin: auto 0;
    padding-left: 150px;
}

.About-Title {
    font-size: 45px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #000000a8, #fd0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.About-Text p {
    width: 75%;
    font-size: 18px;
    color: #5214a3c4;
    text-align: justify;
}

/*--About Area End--*/

/*--My recipies Area Start--*/

.Rcp-title h1 {
    font-size: 47px;
    font-weight: 900;
    text-align: center;
    margin: 100px 0 25px;
    background: -webkit-linear-gradient(180deg, #0c0c0c, #ffd167);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Rcp-title P {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #7e7b7b;
}

.Rcp-Card {
    display: flex;
    justify-content: center;
}
.items {
    width: 280px;
    padding:20px;
    margin:50px 40px;
    box-shadow: 2px 2px 40px #0e0d0d5d;
    border-radius: 15px;
}

.item-img {
    width: 100%;
}

.item-img img {
    width: 100%;
    display: inline-block;
    border-radius: 11px;
}
.item-text h3 {
    font-size: 27px;
    color: #464545;
    font-weight: 900;
    margin-bottom: 15px;
}

.item-text p {
    font-size: 16px;
    color: #2a2929;
    text-align: justify;
    margin:10px 5px 30px;
}
/*--My recipies Area End--*/


/*--working Proccess Area End--*/

.working-Items {
    display: flex;
    justify-content: center;
}

.working-Items .items {
    box-shadow: 2px 2px 20px #85848469;
    border: 1px solid transparent;
    transition: 0.3s;
}

.working-Items .items:hover {
    border: 1px solid;
}

.working-Items .items .item-img {
    width: 70%;
    padding: 20px 10px;
    margin: 0 auto;
}

.working-Items .items .item-img img {
    width:100%;
    height: 210px;
}



/*--social-actvity Area Start--*/

.social-actvity {
    display: flex;
    justify-content: center;
    margin: 80px 50px ;
    box-shadow: 2px 2px 40px #8d8c8c7e;
    border-radius: 15px;
}

.social-item {
    padding: 45px 112px;
    text-align: center;
}

.social-item h1{
    font-size: 55px;
    font-weight: 900;
    margin: 0;
}

.social-item p {
    font-size: 17px;
    margin: 0;
    color: #2a2a2a;
}
/*--social-actvity Area End--*/

/*--Footer Area Start--*/
footer {
    background-color: #0c0c0c ;
    padding: 30px 0 40px;
}

.footer-text h1 {
    font-size: 40px;
    font-weight: 900;
    color: #acabab;
    text-align: center;
    margin: 0;
}
.footer-text span {
    background: -webkit-linear-gradient(180deg, #f10404, #ffd167);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-text p {
    color: #8f8a8a;
    text-align: center;
    font-size: 16px;
}
/*--Footer Area End--*/